/* SYNOPSIS: styling for about page

 about.css

 Author: Marcus Medina
 Date: Fri 04 Sep 2020 01:33:56 PM PDT
 Last Update: 2022-01-11: 11:10

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or 
 (at your option) any later version.

 This Program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABLILITY of FITNESS FOR A PARTICULAR PURPOSE. See the 
 GNU General Public License for more details.

 You Should have recieved a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 MA 02110-1301, USA.

*/

article{
    background-color: black;
    color: white;
    margin: auto;
    max-width: 75%;
}
.history-header, .future-header{
    color: white;
    background-image: linear-gradient(to bottom right, #053C4A, #9F9F9F);
    border-radius: 5px;
    margin: auto;
}
.acknowledge{
    background-image: linear-gradient(to bottom right, #053C4A, #9F9F9F);
    color: white;
    margin: auto;
    max-width: 25%;
}
.thanks{
    max-width: 25%;
    margin: auto;
    color: white;
}
@media screen and (max-width: 960px) and (min-width: 620px){
    footer{
        font-size: 16px;
    }
    .thanks, .acknowledge, .history, .future{
        max-width: 50%;
    }
}
@media screen and (max-width: 620px) and (min-width: 320px){
    footer{
        font-size: 14px;
    }
    .thanks, .acknowledge, .history, .future{
        max-width: 100%;
    }
}
