body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('../images/physics_stairs.jpg');
}

.disclaimer{
    background-image: linear-gradient(to bottom right, #eb4747, #f38c8c);
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: courier;
}
h3.description{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: courier;
    padding: 5px;
}
form{
    text-align: center;
}
p{
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    margin: auto;
    width: 150px;
}
div.menu_single{
    max-width: 35%;
    padding: 5px;
    margin: auto;
    border-radius: 35px;
    background-image: linear-gradient(to bottom right, #053C4A, #9F9F9F);
}
.column{
    float: left;
    width: 33.33%;
}
textarea{
    margin: auto;
    width: 100%;
    height: 200px;
}

.successful{
    text-align: center;
    color: black;
    margin: auto;
    background-color: #46ec70;
    width: 300px;
    border-radius: 5px;
}
.fail{
    text-align: center;
    color: black;
    margin: auto;
    background-color: #eb4747;
    border-radius: 5px;
    width: 300px;
}

@media screen and (max-width: 960px) and (min-width: 620px){
    .mainHeader{
        font-size: 24px;
    }
    .disclaimer{
        font-size: 24px;
    }
    h3.description{
        font-size: 18px;
    }
    .column{
        width: 50%;
    }
    textarea{
        width: 100%;
        height: 200px;
    }
    #tabitem{
        font-size: 14px;
    }
    img{
        height: 75px;
        width: 75px;
    }
}
@media screen and (max-width: 620px) and (min-width: 320px){
    .mainHeader{
        font-size: 18px;
    }
    .disclaimer{
        font-size: 18px;
    }
    h3.description{
        font-size: 14px;
    }
    .column{
        width: 100%;
    }
    textarea{
        width: 100%;
        height: 200px;
    }
    #tabitem{
        font-size: 12px;
    }
    img{
        height: 50px;
        width: 50px;
    }
}
