input[type=submit]{
    font-size: 18px;
}
.user, .reference{
    overflow: auto;
    height: 200px;
}

.description{
    margin: auto;
}
.column{
    margin: auto;
    width: 33.33%;
}
.disclaimer{
    background-image: linear-gradient(to bottom right, #eb4747, #f38c8c);
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: courier;
}
.label{
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.input {
    width: 300px;
}
.successful{
    text-align: center;
    color: black;
    margin: auto;
    background-color: #46ec70;
    width: 300px;
    border-radius: 5px;
}
.fail{
    text-align: center;
    color: black;
    margin: auto;
    background-color: #eb4747;
    width: 300px;
    border-radius: 5px;
}
@media screen and (max-width: 960px) and (min-width: 620px){
    .column{
        width: 100%;
    }
    .description{
        font-size: 18px;
    }
    .disclaimer{
        font-size: 24px;
    }
}
@media screen and (max-width: 620px) and (min-width: 320px){
    .column{
        width: 100%;
    }
    .description{
        font-size: 16px;
    }
    .disclaimer{
        font-size: 18px;
    }
}
